<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <!-- 
      The codes are free, but we require linking to our web site.
      Why to Link?
      A true story: one girl didn't set a link and had no decent date for two years, and another guy set a link and got a top ranking in Google! 
      Where to Put the Link?
      home, about, credits... or in a good page that you want
      THANK YOU MY FRIEND!
    -->
    <title>chat room - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="style.css" rel="stylesheet"> -->
<style type="text/css">
      body {
        padding-top: 0;
        font-size: 12px;
        color: #777;
        background: #f9f9f9;
        font-family: 'Open Sans',sans-serif;
        margin-top:20px;
      }

      .bg-white {
        background-color: #fff;
      }

      .friend-list {
        list-style: none;
        margin-left: -40px;
        border: 1px dodgerblue;
      }

      .friend-list li {
        border-bottom: 1px solid #eee;
      }

      .friend-list li a img {
        float: left;
        width: 45px;
        height: 45px;
        margin-right: 10px;
      }

       .friend-list li a {
        position: relative;
        display: block;
        padding: 10px;
        transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        -o-transition: all .2s ease;
      }

      .friend-list li.active a {
        background-color: #f1f5fc;
      }

      .friend-list li a .friend-name, 
      .friend-list li a .friend-name:hover {
        color: #777;
      }

      .friend-list li a .last-message {
        width: 65%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .friend-list li a .time {
        position: absolute;
        top: 20px;
        right: 8px;
      }

      small, .small {
        font-size: 85%;
      }

      .friend-list li a .chat-alert {
        position: absolute;
        right: 30px;
        top: 3px;
        font-size: 10px;
        padding: 3px 5px;
      }

      .chat-message {
        /*padding: 60px 20px 0px;*/
      }

      .chat {
          list-style: none;
          margin: 0;
      }

      .chat-message{
          background: #f9f9f9;  
      }

      .chat li img {
        width: 45px;
        height: 45px;
        border-radius: 50em;
        -moz-border-radius: 50em;
        -webkit-border-radius: 50em;
      }

      img {
        max-width: 100%;
      }

      .chat-body {
        padding-bottom: 20px;
      }

      .chat li.left .chat-body {
        margin-left: 70px;
        background-color: #fff;
      }

      .chat li .chat-body {
        position: relative;
        font-size: 11px;
        padding: 10px;
        border: 1px solid #f1f5fc;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
      }

      .chat li .chat-body .header {
        padding-bottom: 5px;
        border-bottom: 1px solid #f1f5fc;
      }

      .chat li .chat-body p {
        margin: 0;
      }

      .chat li.left .chat-body:before {
        position: absolute;
        top: 10px;
        left: -8px;
        display: inline-block;
        background: #fff;
        width: 16px;
        height: 16px;
        border-top: 1px solid #f1f5fc;
        border-left: 1px solid #f1f5fc;
        content: '';
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
      }

      .chat li.right .chat-body:before {
        position: absolute;
        top: 10px;
        right: -8px;
        display: inline-block;
        background: #fff;
        width: 16px;
        height: 16px;
        border-top: 1px solid #f1f5fc;
        border-right: 1px solid #f1f5fc;
        content: '';
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
      }

      .chat li {
        margin: 15px 0;
      }

      .chat li.right .chat-body {
        margin-right: 70px;
        background-color: #fff;
      }

      .chat-box {
          position: relative;
        bottom: 0;
        right: 0;
        padding: 15px;
        border-top: 1px solid #eee;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
      }

      .primary-font {
        color: #3c8dbc;
      }

      a:hover, a:active, a:focus {
        text-decoration: none;
        outline: 0;
      }
    <!-- -->
      .led-box {
          height: 30px;
          width: 25%;
          margin: 10px 0;
          float: left;
      }

      .led-box p {
          font-size: 12px;
          text-align: center;
          margin: 1em;
      }

      @-webkit-keyframes blinkRed {
          from { background-color: #F00; }
          50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
          to { background-color: #F00; }
      }
      @-moz-keyframes blinkRed {
          from { background-color: #F00; }
          50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
          to { background-color: #F00; }
      }
      @-ms-keyframes blinkRed {
          from { background-color: #F00; }
          50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
          to { background-color: #F00; }
      }
      @-o-keyframes blinkRed {
          from { background-color: #F00; }
          50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
          to { background-color: #F00; }
      }
      @keyframes blinkRed {
          from { background-color: #F00; }
          50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
          to { background-color: #F00; }
      }

      @-webkit-keyframes blinkYellow {
          from { background-color: #FF0; }
          50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
          to { background-color: #FF0; }
      }
      @-moz-keyframes blinkYellow {
          from { background-color: #FF0; }
          50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
          to { background-color: #FF0; }
      }
      @-ms-keyframes blinkYellow {
          from { background-color: #FF0; }
          50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
          to { background-color: #FF0; }
      }
      @-o-keyframes blinkYellow {
          from { background-color: #FF0; }
          50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
          to { background-color: #FF0; }
      }
      @keyframes blinkYellow {
          from { background-color: #FF0; }
          50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
          to { background-color: #FF0; }
      }

      .led-green {
          position: absolute;
          top: 2px;
          right: 3px;
          margin: 0 auto;
          width: 12px;
          height: 12px;
          background-color: #ABFF00;
          border-radius: 50%;
          box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
      }
      .input-group{
          display: block;
      }
</style>
</head>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io(window.location.href);
//    console.log(socket);

    socket.on('error', function(err) {
        throw new Error(err);
    });
    socket.on('online User',function (data) {
        $('.'+data).css('display','block');
    });

    socket.on('disconnected User', function (data) {
        $('.'+data).css('display','none');
    });

    socket.on('notify', function (data) {
        console.log('notify');
        console.log(data);
        $('#oneMem'+data.sender_id).css('class','active');
        $('.message_body'+data.sender_id).text(data.message_body);
        $('.chat-alert'+data.sender_id).show();
        console.log('notify');
    });

    socket.on('new message', function(msg){
        console.log('new message');
        console.log(msg);
        var direction = 'right';
        console.log('message in room');
        console.log(msg);
        messageElement(msg , direction);
    });

    var genericPort = 7000;
    var domain = "http://127.0.0.1";
    var images_root_path = "http://127.0.0.1:7000";
    var serverAddress = 'http://127.0.0.1:7000';
  </script>
<body onload="loadMyMessages();" id="body_id">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippet">
    <div class="row">
    <div class="col-md-4 bg-white ">
            <div class=" row border-bottom padding-sm" style="height: 40px;">
              Messages
            </div>
            
            <!-- =============================================================== -->
            <!-- member list -->
           <!--  <a href="#" onclick="newMessage('147');" >
            <i style="float: right;margin-top: -15px;margin-right: 5px;" class="fa fa-plus-square" aria-
            hidden="true"></i>
            </a> -->
            <ul class="friend-list" id="member_area">

            </ul>
    </div>
        
        <!--=========================================================-->
        <!-- selected chat -->
      <div class="col-md-8 bg-white ">
            <div class="chat-message">
                <ul class="chat" id="messages" style="height: 900px;overflow-y: scroll;">

                </ul>
            </div>
            <div class="chat-box bg-white">
              <div class="input-group">
                <input style="" class="form-control border no-shadow no-rounded" id="m" placeholder="Type your message here">

                <span class="input-group-btn">
                
                  <button style="display: none;" id="sub" class="btn btn-success no-rounded" type="button">Send</button>
                </span>
              </div><!-- /input-group --> 
            </div>            
    </div>        
  </div>
</div>

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
var URL = window.location.protocol + '//' + window.location.hostname+':'+window.location.port;
var active_rooms = [] ;
var genericPort = 2020;
  function messageElement(text,direction){
      console.log(text);
     var message = '<li class="'+direction+' clearfix">';
         message +='<span class="chat-img pull-'+direction+'">';
          message +='<img src="'+text['user'].avatarPath+'" alt="User Avatar">';
        message +='</span>'
        message +='<div class="chat-body clearfix">';
          message +='<div class="header">';
             message +='<strong class="primary-font">'+text['user'].first_name+'</strong>';
             message +='<small class="pull-right text-muted">';
             message +='<i class="fa fa-clock-o" style="margin-right: 5px;"></i>'+text.created_at+'</small>';
          message +='</div>';
          message +='<p>';
           message +=text.message_body;
          message +='</p>';
        message +='</div>';
        message +='</li>';

     $('#messages').append(message);
  }
  
  function displayMember(user, elementClass) {
       var newMember =  '<li id="oneMem'+ user.id+'" class= "'+elementClass+'" onclick="displayThread('+user.id+')">' +
           '<a href="#" class="clearfix">' +
                '<img src="' + user.avatarPath +' " alt="" class="img-circle">' +
           '<div class="friend-name">' +
                '<strong>' + user.first_name + '</strong>' +
           '</div>';
            if (user['userMessages'].length > 0)
                newMember += '<div class="last-message text-muted message_body'+user.id+'">' + user["userMessages"][0].message_body + '</div>';
            else
                newMember += '<div class="last-message text-muted"></div>';
            newMember += '<div class="led-box ' + user.id + ' " ';
            if (user.isActive)
                newMember += 'style=" display: block;" >';
            else
                newMember += 'style=" display: none;" >';
             newMember += '<div class="led-green">' +
                        '</div>' +
                    '</div>' +
                '<small class="chat-alert chat-alert'+user.id+' label label-danger" style="display: none;">1</small>' +
                '</a>' +
                ' </li>';
      $('#member_area').append(newMember);
  }

  function loadMyMessages(){
    $.ajax({
        method: "POST",
        url: URL+"/api/users?token="+window.location.href.split('=')[1],
        }).done(function( data ) {
            console.log(data);
            if (data.success){
                data.message.forEach(function (user, key) {
                    var elementClass= '';
                    if (key == 0 )
                        elementClass= 'active';
                    displayMember(user, elementClass);
                });
                $('ul li:first').trigger('click');
            }
    });
  }

  var lastActiveClass = '';
  var activeRoom = 'empty';
  var activeReceiver = '';
  function initiateSockets(room, receiver_id){
      console.log('Room : '+room);

      activeRoom = room;
      activeReceiver = receiver_id;
      socket.emit('join room',activeRoom);


  }

  $("input").keypress(function(event) {
      if (event.which == 13) {
          var message = {'message_body': $('#m').val(),created_at: new Date() ,'receiver_id': activeReceiver, 'conversation_id': activeRoom};

          socket.emit('message',message);
          $.ajax({
              method: "POST",
              url: URL+"/api/messages?token="+window.location.href.split('=')[1],
              data: {'message_body': $('#m').val(), 'receiver_id': activeReceiver, 'conversation_id': activeRoom}
          }).done(function( msg ) {
              console.log('saved message');
              messageElement(msg, 'right');
          });

          $('#m').val('');

          var objDiv = document.getElementById("body_id");
          objDiv.scrollTop = objDiv.scrollHeight;

          var objDiv = document.getElementById("messages");
          objDiv.scrollTop = objDiv.scrollHeight;
      }
  });



  function generateMessageUniqueIdentifier(){
       var text = "";
       var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
       for( var i=0; i < 6; i++ )
            text += possible.charAt(Math.floor(Math.random() * possible.length));
        return text;
  }

  function displayThread(receiver_id) {
      console.log('element clicked');
      console.log($('#oneMem'+receiver_id).hasClass('active'));

      $('.friend-list > li').attr('class','');
      $('#messages').html("");
      $.ajax({
          method: "POST",
          url: URL+"/api/chat/"+receiver_id+"?token="+window.location.href.split('=')[1],
      }).done(function( msg ) {

          for (var i = 0; i < msg.length; i++) {
              var direction = 'left';
              var member = '';
              if(msg[i].sender_id != receiver_id) direction = 'right';
              var member = messageElement(msg[i],direction);
              $('#messages').append(member);
          }
          var conv= '';
          if(msg.length > 0)
              conv = msg[0].conversation_id;
          else
              conv = generateMessageUniqueIdentifier();

          console.log(receiver_id);
          // $('#sub').css('display','block');
          $('#m').css('display','block');
          if(lastActiveClass ==''){
              $( "#oneMem"+receiver_id ).addClass( "active" );
              lastActiveClass = "oneMem"+receiver_id;
          }
          else{
              $( "#oneMem"+receiver_id ).addClass( "active" );
              $( "#"+lastActiveClass ).removeClass( "active" );
              lastActiveClass =  "oneMem"+receiver_id;
          }
          initiateSockets(conv,receiver_id);
        });
  }
  </script>
</body>
</html>
